.Text {

}

.title {
  font-size: var(--font-size-l);
  color: var(--primary-color);
}

.text {
  font-size: var(--font-size-m);
  color: var(--inverted-bg-color);
}

.error {

  .text {
    color: var(--red-dark);
  }

  .title {
    color: var(--red-ligth);
  }
}