.InputWrapper {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--primary-color);
}

.placeholder {
  margin-right: 8px;
}

input {
  border: 1px solid var(--inverted-bg-color);
  padding: 10px;
  color: var(--primary-color);
  background-color: transparent;
}